.body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 24px; font-weight: bold; color: #999999; text-decoration: none}
.bodyCopy { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: 18px; font-weight: bold; color: #999999; text-decoration: none }
